version: '3'
services:
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.7.0
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      OPENSEARCH_HOSTS: '["https://search-socialbi-poc-yurgfqanwzg4tiu4rrbo3avxn4.us-east-2.es.amazonaws.com"]'
      opensearch.username: "pharmascroll"
      opensearch.password: "Pharmascroll12#"
    volumes:
      - ./opensearch_dashboards.yml:/usr/share/opensearch-dashboards/config/opensearch_dashboards.yml

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - opensearch-dashboards

